/* Section 2: Dynamic Menu Area */
.menu-header {
  font-size: x-large;
  letter-spacing: .2rem;
  margin-bottom: 20px;
  padding: 0 20px;
}

.menu-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 20px;
}

.search-bar {
  width: 85%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.add-button {
  background-color: var(--primary-color);
  border: none;
  color: var(--text-color);
  font-size: 24px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-list {
  list-style: none;
  margin: 0;
  max-height: calc(100vh - 150px); 
  overflow-y: auto; 
}

.item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid var(--tertiary-color);
}

.item-avatar {
  width: 60px;
  height: 50px;
  margin-right: 10px;
}

.item-avatar img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.item-details {
  flex-grow: 1;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-name {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 7px;
}

.item-message {
  color: var(--text-color);
  opacity: 0.6;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-list::-webkit-scrollbar {
  width: 5px;
}

.item-list::-webkit-scrollbar-track {
  background: transparent;
}

.item-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
}

.item-list {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.1) transparent; 
}

.item.active {
  background-color: var(--tertiary-color);
}

.item:hover {
  background-color: var(--tertiary-color);
  transition: background-color 0.3s ease;
}
  