:root {
  --primary-color: #2C383E;
  --secondary-color: #343D45;
  --light-color: #E9EEEE;
  --accent-color: #51C982;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: Arial, sans-serif;
  height: 100%;
}

.container {
  display: flex;
flex-direction: row;
  height: 100vh;
  width: 100%;
}

/* Section 1: Navigation */
.navbar {
  width: 80px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  color: #fff;
}

.navbar ul {
  list-style: none;
}

.navbar li {
  margin: 20px 0;
  cursor: pointer;
}

.user-icon {
width: 40px; 
height: 40px; 
border-radius: 50%;
}

/* Section 2: Dynamic Menu Area */
.menu {
  width: 240px;
  background-color: var(--secondary-color);
  color: #fff;
  padding: 20px;
}

/* Section 3: Chat Area */
.chat-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--light-color);
  transition: width 0.3s ease-in-out;
}

/* Section 4: Side Bar */
.side-bar {
width: 0;
  background-color: #fff;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
}

.side-bar.active {
width: 300px;
  padding: 20px;
}