:root {
  --primary-color: #2C383E;
  --secondary-color: #343D45;
  --tertiary-color: #3C474F;
  --light-color: #E9EEEE;
  --text-color: #fff;
  --accent-color: #51C982;
  --secondary-accent-color: #dcf8c6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: Arial, sans-serif;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

/* Section 2: Dynamic Menu Area */
.menu {
  min-width: 270px;
  width: 30%;
  background-color: var(--secondary-color);
  color: #fff;
  padding: 30px 0;
  flex-shrink: 0;
}

.menu-header {
  font-size: x-large;
  letter-spacing: .2rem;
  margin-bottom: 20px;
  padding: 0 20px;
}

.menu-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 20px;
}

.search-bar {
  width: 85%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.add-button {
  background-color: var(--primary-color);
  border: none;
  color: var(--text-color);
  font-size: 24px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-list {
  list-style: none;
  margin: 0;
  max-height: calc(100vh - 150px); 
  overflow-y: auto; 
}

.item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid var(--tertiary-color);
}

.item-avatar {
  width: 60px;
  height: 50px;
  margin-right: 10px;
}

.item-avatar img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.item-details {
  flex-grow: 1;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-name {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 7px;
}

.item-message {
  color: var(--text-color);
  opacity: 0.6;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-list::-webkit-scrollbar {
  width: 5px;
}

.item-list::-webkit-scrollbar-track {
  background: transparent;
}

.item-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
}

.item-list {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.1) transparent; 
}

.item.active {
  background-color: var(--tertiary-color);
}

.item:hover {
  background-color: var(--tertiary-color);
  transition: background-color 0.3s ease;
}


/* Section 3: Chat Area */
.chat-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--light-color);
  padding: 0;
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.chat-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
}

.chat-room-info {
  flex-grow: 1;
}

.chat-room-info h3 {
  margin: 0;
  font-size: 1.1rem;
}

.chat-messages {
  flex-grow: 1;
  padding: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.chat-message {
  margin-bottom: 7px;
  padding: 15px;
  max-width: 70%;
  word-wrap: break-word; 
  overflow-wrap: break-word;
  display: block;
  display: flex;
  align-items: center;
}

.chat-message.sent {
  background-color: var(--secondary-accent-color);
  border: 1px solid #ddd;
  margin-left: auto;
  border-radius: 15px 0 15px 15px;
}

.chat-message.received {
  background-color: var(--text-color);
  border: 1px solid #ddd;
  margin-right: auto;
  border-radius: 0 15px 15px 15px;
}

.message-image {
  max-width: 100%; 
  height: auto;
  border-radius: 10px;
  margin-top: 5px;
}

.message-video {
  max-width: 100%;
  max-height: 300px;
  height: auto; 
  border-radius: 10px;
  margin-top: 5px;
}

.message-pdf {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.message-pdf img {
  max-width: 100px;
  height: auto;
}

.message-sender {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 5px;
}

.chat-input {
  display: flex;
  padding: 10px;
  background-color: var(--text-color);
  border-top: 1px solid #ddd;
  align-items: center;
}

.chat-input input {
  flex-grow: 1;
  font-size: 1rem;
  padding: 15px;
  border: none;
  border-radius: 20px;
  background-color: #f0f0f0;
  outline: none;
}

.chat-input button {
  padding: 5px;
  border: none;
  background-color: transparent;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

.chat-input img {
  width: 30px;
  height: 30px;
}

/* Section 4: Side Bar */
.side-bar {
  width: 0;
  background-color: #fff;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
}

.side-bar.active {
width: 300px;
  padding: 20px;
}